body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  vertical-align: middle;
  font-size: 11px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
  max-width: 8%;
  /*max-width: 50%; chimera*/
  height: auto;
  border: none;
}

.back-btn a {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.back-btn span {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.map-header span {
  position: absolute;
  top: 30px;
  right: 0;
  margin: 10px;
}

